html, body{
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

#homePageId{

}

#bannerId{
    position: fixed;
    top : 0px;
    left : 0px;
    right: 0px;
    height : 100px;
    background: #292d2d;
    z-index: 1;
}
#contentId{
    position: absolute;
    top : 350px;
    left : 20px;
    right: 20px;
    height : 1000px;
    background: #ffffff;
    z-index: 0;
}

#sliderId{
    position: fixed;
    top : 0px;
    left : 0px;
    right: 0px;
    height : 500px;
    background: linear-gradient(hsl(49, 94%, 68%) 0%, hsl(56, 83%, 48%) 50%,#ffffff);
    z-index: -2;
}

@media only screen and (max-width: 600px) {
    #contentId {
      left : 0px;
      right: 0px;
    }
}